/* https://khaledkzy.github.io/pixel-vh-vw-converter/ */
/* ~~~~~~~~~~~~ ESTILO DEL HEADER ~~~~~~~~~~~~ */
/* Estilo del logo de la barra de navegación */
.navbar--logo{
    height: 100%;
    padding: 0%;
}

/* Estilo de la barra de navegación */
.navbar--barra{
    background-color: #272727;
    padding: 0%;
    font-size: 1.1vw;
}

/* Anchura de la barra de navegación */
.nav-item{
    padding: 3%;
}

/* Estilo de los botones de la barra de navegación*/
.navbar-nav{
    color: #6d9eeb;
}

/* Estilo de la barra de navegacion de categorias */
.navbar__categories{
    display: flex;
    justify-content: space-evenly;
    background-color: #272727;
    padding: 1%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.navbar__categories button{
    color: #6d9eeb;
    background-color: #272727;
    padding: 0.5%;
}
.navbar__categories button:hover{
    background-color: #ead1dc;
}

.form--navbar{
    margin-top: 1%;
}

/* ~~~~~~~~~~~~ ESTILO DEL BODY ~~~~~~~~~~~~ */
body{
    background-color: #bee7f4;
    font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.margin-top{
    margin-top: 5%;
}

/* ~~~~~~~~~~~~ CONTENEDORES ~~~~~~~~~~~~ */
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
    border-radius: 10px;
    background-color: #6d9eeb;
}


.container--top{
    padding: 2%;
    margin-bottom: 5%;
}

/* Contenedor que contiene la bienvenido */
.container__welcome{
    position: relative;
    text-align: center;
    margin-bottom: 2%;
}

.container__welcome video{
    width: 100%;
}

/* Texto encima de la imagen */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ead1dc9c;
    padding: 1%;
}

/* El contenedor para centrar todo */
.container__king{
    width: 85%;
    margin: auto;
}

.container__king--category{
    margin-top: 3%;
    margin-bottom: 3%;
}

.container__king--brands{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    width: 92%;
}

.container__king--details{
    width: 100%;
}

/* PRODUCTOS MEJOR VALORADOS */
.container__top{
    width: 80%;
    margin-bottom: 5%;
    padding-bottom: 1%;   
    padding: 10%;
}

.tabla__precios{
    background-color: #e5bacd;
    border: 2px solid #6d9eeb;
    border-radius: 10px;
    width: 60%;
    margin: auto;
    margin-top: 5%;
}

.tabla__precios td, tr{
    border: 1px solid #6d9eeb;
    text-align: center;
}

/* Contendor de los productos */
.container__product{
    background-color: #ead1dc;
    width: 25%;
    margin: 1%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgba(41, 41, 41, 0.521);
}

.container__product:hover{
    -webkit-transform:scale(1.05);
    transform:scale(1.05);
}

.container__product--details{
    width: 40%;
    padding: 1%;
    margin-left: 1%;
}


/* Contendor con las tiendas con las que trabajamos */
.continer__business{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

.continer__business img{
    width: 20%;
}
/* Contenedor donde se muestran las valoraciones de un producto */
.container__starsProduct{
    margin-top: 10%;
    font-size: 1vw;
}
.container__starsProduct i {
    margin-right: 1%;
}

.container__starsProduct--details{
    margin-top: 5%;
}

.container--category{
    background-color: transparent;
}

.container--brands{
    background-color: transparent;
    margin: 0%;
    width: 80%;
}

.container__alphabet{
    width: 13%;
    background-color: #272727;
    padding: 2%;
    border-radius: 5px;
}

.container__alphabet--card{
    width: 95%;
    background-color: #272727;
    border: 0px solid black;
    margin-left: 10%;
}

.container__form{
    width: 30%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container__form div{
    padding: 4%;
    padding-left: 0%;
}

.input-group{
    width: 300px; 
    margin-left: 4%;
}


.container__details{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:3%;
}

.container__price{
    background-color: #ead1dc;
    border-radius: 10px;
    width: 40%;
    padding: 2%;
    margin-top: 5%;
}

/* ~~~~ ESTILOS DE LOS BOTONES ~~~~ */
/* Boton de buscar producto */
.boton--search{
    border: #6d9eeb solid 1px;
    color: black;
    background-color: #6d9eeb;
}

/* Boton de barra de navegación */
.boton--nav{
    color: #6d9eeb;
    font-weight: bold;
    border-radius: 5px;
    border: 0px solid transparent;
}

.boton--nav:hover{
    transition: 0.5s;
    background-color: #ead1dc;
}

/* Boton de la bienvenido */
.boton--welcome{
    background-color: #ead1dc;
    color: #6d9eeb;
    box-shadow: 5px 5px 5px black ;
    border-radius: 5px;
    border: #6d9eeb solid 1px;
    padding: 1%;
    font-size: 1.5vw;
}
.boton--welcome:hover{
    background-color: #e5bacd;
}

/* Boton form */
.boton--form{
    background-color: #6d9eeb;
    color: #272727;
    box-shadow: 5px 5px 5px black ;
    border-radius: 5px;
    border: #6d9eeb solid 1px;
    padding: 1%;
    font-size: 1vw;
}

.boton--form:hover{
    background-color: #558de7;
}


/* ~~~~ ESTILOS DE LOS TEXTOS Y TITULOS ~~~~ */
/* Estilo predeterminado del titulo */
.title{
    color: #272727;
    font-size: 5vw;
}

/* Titulo o nombre del productp */
.title--product{
    font-size: 1.5vw; 
    color: #6d9eeb;
}

/* Titulo del contendor */
.title--container{
    font-size: 1.6vw; 
    font-weight: bold;
}

/* Titlo más pequeño */
.title--question{
    font-size: 1vw; 
    text-align: center;
    margin-top: 3%;
}

.title--alphabet{
    color: #6d9eeb;
    text-decoration: none;
    font-weight: bold;
}

.title--details{
    font-size: 2vw;
    font-weight: bold;
}

.title--table {
    font-size: 1vw;
    font-weight: bold;
}

/* Estilo predeterminado del texto */
.text{
    font-size: 1.5vw;
}


/* Texto de los productos*/
.text--product
{
    font-size: 1vw;
}

.text--alphabet{
    color: #6d9eeb;
    margin-left: 10%;
    text-decoration: none;
}

.text--price{
    font-size: 1.1vw;   
    font-weight: bold;
}


/* ~~~~~~~~~~~~ ESTILOS DE IMAGENES ~~~~~~~~~~~~ */
.img__product{
    width: 100%;
    margin-bottom: 5%;
}

.img__product--details{
    width: 20%;
}
/* Estilo predeterminado del los iconos */
.icono{
    color:#6d9eeb;
    font-size: 1.5vw;
}

/* Estilo de icono del footer */
.icono--footer{
    font-size: 2vw;
}

/* Icono de la barra de navegación */
.icono--navbar{
    margin-right: 2%;
}

/* Estilo del logo */
.logo{
    width: 100%;        
    float: left;
}


/* ~~~~~~~~~~~~ ESTILO DEL FOOTER ~~~~~~~~~~~~ */
footer{
    display: flex;
    justify-content: space-around;
    background-color: #272727;
    color: #5e6268;
    text-align: center;
    margin-top: 5%;
}

/* Estilo del label del footer*/
.labelFooter{
    margin-top: 0.5%;
    color: #6d9eeb;
    font-size: 1.1vw;
}


/* ~~~~~~~~~~~~ RESPOSIVE ~~~~~~~~~~~~ */
@media (max-width: 600px) {
    .navbar--logo {
        width: 50%;
    }
    .icono {
        font-size: 10vw;
    }

    /* Contenedores */
    .centered{
        width: 100%;
    }

    .container__product{
        width: 100%;
    }

    .container--top{
        background-color: transparent;
    }

    .container__alphabet{
        width: 30%;
        background-color: #272727;
    }

    .container__form{
        width: 100%;
    }


    .container__product--details{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }


    .container__starsProduct{
        font-size: 5vw;
    }

    .container__starsProduct--details{
        width: 100%;
        font-size: 5vw;
    }
    
    .container__price{
        width: 100%;
    }

    .container__price p{
        font-size: 5vw;
    }

    .tabla__precios{
        width: 90%;
        font-size: 4vw;
    }

    .title--table{
        font-size: 4.5vw;
    }

    .input-group{
        margin: auto;
        width: 100%;
    }
    
    /* Botones */
    .boton--nav{
        font-size: 7vw;
    }

    .boton--welcome{
        font-size: 5vw;
    }

    .boton--form{
        font-size: 4vw;
    }

    /* Textos */
    .title{
        font-size: 10vw;
    }

    .title--container{
        font-size: 6vw;
    }

    .title--product{
        font-size: 6vw;
    }

    .title--question{
        font-size: 6vw;
    }

    .text{
        font-size: 5vw;    
    }

    .text--product{
        font-size: 5vw;
    }
    
    .labelFooter{
        font-size: 4vw;
    }

    /* Imagenes */
    .continer__business img{
        width: 50%;
    }

    .img__product--details{
        width: 80%;
    }
}